.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat .chat-input {
  margin-top: 24px;
}

.chat .chat-input input {
  font-size: 14px;
  width: 240px;
  padding: 6px;
}

.chat .chat-input button {
  font-size: 14px;
  padding: 6px;
  margin-left: 12px;
  width: 96px;
}